@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f7fb;
	font-family: "Muli", sans-serif;
	overflow: hidden;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
}

.progress-container::before {
	content: "";
	background-color: #e0e0e0;
	position: absolute;
	top: 50%;
	left: 0;
	height: 4px;
	width: 100%;
	transform: translateY(-50%);
	z-index: -1;
}

.progress {
	background-color: #3498db;
	position: absolute;
	top: 50%;
	left: 0;
	height: 4px;
	width: 0%;
	transform: translateY(-50%);
	z-index: -1;
	transition: width 0.4s ease;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	border: solid 4px #e0e0e0;
	border-radius: 50%;
	background-color: #fff;
	color: #999;
	transition: border-color 0.4s ease;
}

.circle.active {
	border-color: #3498db;
}

.btn {
	margin: 5px;
	padding: 8px 30px;
	border: none;
	border-radius: 6px;
	background-color: #3498db;
	color: #fff;
	font-size: 14px;
	font-family: inherit;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.98);
}

.btn:disabled {
	background-color: #e0e0e0;
	cursor: not-allowed;
}
